<html>
    <body>
        <h1> Cadastro da Pesquisa</h1>
        <form action="/cadastro" method="POST" name="calculadora">
            <label for="n1">Nome da empresa:</label><br>
            <input type="text" id="v1" name="v1"><br>
            <label for="n2">CNPJ/CPF:</label><br>
            <input type="text" id="v2" name="v2"><br>
            <label for="fname">Objeto da pesquisa:</label><br>
            <input type="text" id="operacao" name="operacao"><br>
            <p>Tipo de objeto:<p>
                <input type="radio" id="produto" name="obj" value="Produto">
                <label for="age1">Produto</label>
                <input type="radio" id="servico" name="obj" value="Servico">
                <label for="age1">Serviço</label><br><br>  
            <label for="birthdaytime">Data e hora da pesquisa:</label><br>
            <input type="datetime-local" id="horapesquisa" name="horapesquisa"><br>
            <p>Gênero dos convidados:<p>
                <input type="checkbox" id="gen1" name="gen1" value="Homem">
                <label for="gen1"> Homem</label>
                <input type="checkbox" id="gen2" name="gen2" value="Mulher">
                <label for="gen2"> Mulher</label>
                <input type="checkbox" id="gen3" name="gen3" value="Outros">
                <label for="gen3"> Outros</label><br>
            <p>Faixa estária dos convidados:<p>
                <input type="radio" id="age1" name="age" value="30">
                <label for="age1">0 - 18</label><br>
                <input type="radio" id="age2" name="age" value="60">
                <label for="age2">18 - 35</label><br>
                <input type="radio" id="age3" name="age" value="100">
                <label for="age3">35 - 70</label><br>
            <p>Classificação socio-econômica:<p>
                <input type="checkbox" id="a" name="age" value="A">
                <label for="a">A</label><br>
                <input type="checkbox" id="b" name="age" value="B">
                <label for="b">B</label><br>  
                <input type="checkbox" id="c" name="age" value="C">
                <label for="c">C</label><br>
                <input type="checkbox" id="d" name="age" value="D">
                <label for="d">D</label><br>
                <input type="checkbox" id="e" name="age" value="E">
                <label for="e">E</label><br><br>  
            <button type="submit">Cadastrar</button>
        </form>
    </body>
</html>