<html>
    <body>
        <h1> Cadastro da Pesquisa</h1>
        <form action="/cadastro" method="POST" name="cadastro">

            <div>
                <label>Nome da empresa:</label><br>
                <input type="text"  name="nomeEmpresa"><br>
            </div>

            <div>
                <label>CNPJ/CPF:</label><br>
                <input type="text" name="cnpj"><br>
            </div>

            <div>
                <label>Objeto da pesquisa:</label><br>
                <input type="text" name="objetoPesquisa"><br>
            </div>

            <div>
                <p>Tipo de objeto:<p>
                    <input type="radio" name="tipoObjeto" value="Produto">
                    <label for="age1">Produto</label>
                    <input type="radio" name="tipoObjeto" value="Servico">
                    <label for="age1">Serviço</label>
                    <br><br>  
            </div>

            <div>
                <label>Data e hora da pesquisa:</label><br>
                <input type="datetime-local" name="horapesquisa">
                <br>
            </div>

            <div>
                <p>Gênero dos convidados:<p>
                    <input type="checkbox" name="gen1" value="Homem">
                    <label for="gen1"> Homem</label>
                    <input type="checkbox" name="gen2" value="Mulher">
                    <label for="gen2"> Mulher</label>
                    <input type="checkbox" name="gen3" value="Outros">
                    <label for="gen3"> Outros</label><br>
            </div>

            <div>
                <p>Faixa estária dos convidados:<p>
                    <input type="radio" name="faixaEtaria" value="30">
                    <label for="age1">0 - 18</label><br>
                    <input type="radio" name="faixaEtaria" value="60">
                    <label for="age2">18 - 35</label><br>
                    <input type="radio" name="faixaEtaria" value="100">
                    <label for="age3">35 - 70</label><br>
            </div>
            
           <div>
            <p>Classificação socio-econômica:<p>
                <input type="checkbox" name="classeEconomica" value="A">
                <label for="a">A</label><br>
                <input type="checkbox" name="classeEconomica" value="B">
                <label for="b">B</label><br>  
                <input type="checkbox" name="classeEconomica" value="C">
                <label for="c">C</label><br>
                <input type="checkbox" id="d" name="classeEconomica" value="D">
                <label for="d">D</label><br>
                <input type="checkbox" name="classeEconomica" value="E">
                <label for="e">E</label><br><br>  
           </div>

           <div>
                <button type="submit">Cadastrar</button>
           </div>

        </form>
    </body>
</html>