<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>IMPESQ</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <style>
        .hide {
            display: none;
        }


        .btn-circle.btn-xl {
            border-radius: 60px;
            font-size: 15px;
            text-align: center;
        }
    </style>
</head>
    <body class="bg-light text-dark shadow-none">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow p-2 mb-5 rounded">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">IMPESQ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Cadastro pesquisa</a>
              <a class="nav-link" href="#">Pesquisas</a>
              <a class="nav-link active" aria-current="page" href="#">Cadastrar convidados</a>
              <a class="nav-link" href="#">Pesquisas Cadastradas</a>
            </div>
        </div>
      </nav>

      <div class="container">
        <form action="/cadastrar/criterio" method="POST" name="convidado" id="form">

            <div class="container p-3 d-flex justify-content-start">
                <div class="row d-flex flex-row">
                    <div class="flex-column col-12">
                      <h3>Criterios da Pesquisa</h3>
                    </div>
                </div>
            </div>

            <div id="cont" class="container shadow p-3 mb-5 bg-body rounded mt-3">
                <div class="row p-5 text-primary">
                        <div class="col-2 mb-5">

                            <!-- GELADEIRA-->
                            <label class="form-label text-primary mb-3">Geladeira</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="geladeira" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                  0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="geladeira" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                 1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="geladeira" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                 2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="geladeira" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                 3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="geladeira" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                 4
                                </label>
                            </div>
                        </div>

                        <!-- BANHEIRO-->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary mb-3">Banheiro</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="banheiro" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="banheiro" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="banheiro" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="banheiro" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="banheiro" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- FREEZER-->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary mb-3">Freezer</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freezer" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freezer" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freezer" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freezer" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="freezer" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- MICRO-ONDAS-->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary mb-3">Micro-ondas</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="microondas" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="microondas" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="microondas" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="microondas" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="microondas" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- LAVA-LOUCA-->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary">Lava-louças</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lavaloucas" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lavaloucas" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lavaloucas" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lavaloucas" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="lavaloucas" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>


                        <!-- MÁQUINA DE LAVAR ROUPA -->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary">Lava-Roupas</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="maquinaroupa" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="maquinaroupa" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="maquinaroupa" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="maquinaroupa" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="maquinaroupa" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- MÁQUINA DE SECAR ROUPA -->
                        <div class="col-2 mb-4">
                            <label class="form-label text-primary">Seca-Roupas</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="secarroupas" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="secarroupas" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="secarroupas" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="secarroupas" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="secarroupas" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- EMPREGADO -->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary">Empregado(a)</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="empregado" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="empregado" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="empregado" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="empregado" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="empregado" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- PC -->
                        <div class="col-1 mb-3">
                            <label class="form-label text-primary">PC</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="computador" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="computador" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="computador" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="computador" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="computador" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- AGUA ENCANADA -->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary">Agua Encanada</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="aguaencanada" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="aguaencanada" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                        </div>

                        <!-- RUA PAVIMENTA -->
                        <div class="col-2 mb-3">
                            <label class="form-label text-primary">Rua pavimentada</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ruapavi" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="ruapavi" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                        </div>

                        <!-- MOTOCICLETA -->
                        <div class="col-1 mb-3">
                            <label class="form-label text-primary">Moto</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="moto" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="moto" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="moto" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="moto" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="moto" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        <!-- CARRO -->
                        <div class="col-1 mb-3">
                            <label class="form-label text-primary">Carro</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="automovel" id="gridRadios1" value="0" checked>
                                <label class="form-check-label" for="gridRadios1">
                                0
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="automovel" id="gridRadios2" value="1">
                                <label class="form-check-label" for="gridRadios2">
                                1
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="automovel" id="gridRadios3" value="2">
                                <label class="form-check-label" for="gridRadios3">
                                2
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="automovel" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                3
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="automovel" id="gridRadios3" value="4">
                                <label class="form-check-label" for="gridRadios3">
                                4
                                </label>
                            </div>
                        </div>

                        

                </div>
            </div>
                <!--BOTAO DE SUBMIT--> 
                <div class="col-12 mb-3">
                    <div class="row justify-content-md-center">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <button type="submit" class="btn btn-outline-primary" for="form">Cadastrar Critério</button>
                        </div>
                    </div>
                </div>
        </form>
    </body>