{% block menu %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/css/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>IMPESQ</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/matplotlib-inline@0.1.0/matplotlib-inline.js"></script>
</head>
<body class="bg-light">
    <div class="container">
      
    </div>
    <nav class="navbar navbar-dark bg-dark stick-top">
        <div class="container-fluid ">
          <a class="navbar-brand p-2"  href="{{url_for('home')}}">IMPESQ</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">IMPESQ</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('home')}}">Home</a>
                </li>

              <div class="dropdown bg-dark">
                <a class=" bg-dark text-light dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Pesquisas
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item " href="{{url_for('selecionarEmpresa')}}">Criar pesquisa</a></li>
                  <li><a class="dropdown-item" href="{{url_for('listarPesquisas')}}">Todas pesquisas</a></li>
                
                </ul>
              </div>
              
                <div class="dropdown bg-dark">
                  <a class=" bg-dark text-light dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Empresas
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item " href="{{url_for('cadastrarEmpresa')}}">Cadastrar empresa</a></li>
                    <li><a class="dropdown-item" href="{{url_for('listarEmpresa')}}">Empresas cadastradas</a></li>
                  
                  </ul>
                </div>
                
                  
                <div class="dropdown bg-dark">
                <a class=" bg-dark text-light dropdown-toggle nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Convidados
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item " href="{{url_for('convidado')}}">Cadastrar convidado</a></li>
                  <li><a class="dropdown-item" href="{{url_for('listarConvidado')}}">Todos convidados</a></li>
                
                </ul>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('index')}}">React App</a>
                </li>
              </div>
                
                  {% if current_user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('logout')}}">Sair</a>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}">Entrar</a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>

      
        
     


      {% block content %}
      
      {% endblock %}


</body>
</html>
{% endblock %}
