{% extends 'base.html'%} 
{% block content %}
        <div class="container shadow p-3 mb-5 bg-body rounded mt-5 w-50 p-5">
            <div class="container d-flex p-2 bd-highlight">
                    <div class="col d-flex justify-content-center">
                        <h2 style="color: #0d6efd;" >Nova Pesquisa</h2>
                    </div>
            </div>
            
            {{fo}}
            <form action="/cadastrar/pesquisa/{{idEmpresa}}" method="POST" name="cadastrarPesquisa">
                
                {{ form.csrf_token }}
                <div class="row justify-content-around p-2">
                    <div class="col-6">
                            <br><label class="mb-2"> Objeto da pesquisa:</label>
                            {{ form.objetoPesquisa(class="form-control", 
                            placeholder="Refrigerante")}}
                    </div>
                    <div class="col-6">
                        <br>
                        <label class="mb-2"> Tipo de objeto:</label>
                             {{form.tipoObjeto (class="form-select")}}
                    </div>
                </div>

                <div class="row justify-content-around mt-3 p-2">
                    <div class="col-6">
                            <label class="mb-2">Data e hora da pesquisa:</label>
                            {{form.dataHoraPesquisa (class="form-check")}}
                    </div>

                    <div class="col-6">
                            <label class="mb-2">Gênero dos convidados:</label>
                            {{form.genero(class="form-select")}}
                    </div>
                </div>
                <div class="row justify-content-around mt-3 p-2">
                    <div class="col-6">
                        <label class="mb-2">Classificação socio-econômica:</label>
                        {{form.classeEconomica(class="form-select")}}
                    </div>
                    <div class="col-6 form-check">
                        <label class="mb-2 form-check-label">Faixa etária dos convidados:</label>
                           {{form.faixaEtaria (class="form-check-inline form-check-label")}}
                    </div>
                    
                </div>
                <br>
                <br>
                <div class="row justify-content-md-center">
                    <div class="d-grid gap-2 col-4 mx-auto">
                    
                        <button type="submit" class="btn btn-outline-primary">Cadastrar Pesquisa</button>
                      
                    </div>
                </div>
            </form>

        </div>
{% endblock %}