{% extends 'base.html'%}

{% block content%}

<div class="container p-2 mt-3">
  <form action="/listar/pesquisas" method="GET">
    <div class="row mb-3">
      <div class="col-2">
          <label for="exampleInputEmail1" class="form-label">Empresa</label>
          <input type="text" class="form-control" id="empresa" name="empresa" placeholder="ex: Impacta LTDA">
      </div>
      <div class="col-4">
       
          <label for="exampleInputEmail1" class="form-label">Objeto em Pesquisa</label>
          <input type="text" class="form-control" id="objetoPesquisa" name="objetoPesquisa" placeholder="ex: Curso ADS">
      </div>
      <div class="col-2">

        <label for="exampleInputEmail1" class="form-label">Tipo de Objeto</label>
        <select class="form-select" id="tipoObjeto" name="tipoObjeto">
          <option for="filtro" none></option>
          <option value="todos" for="filtro">todos</option>
          <option value="servico" for="filtro">servico</option>
          <option value="produto" for="filtro">produto</option>
          
        </select>
      
      </div>
      <div class="col-3">
        <label for="exampleInputEmail1" class="form-label">Classificação Socio-econômica</label>
        <input type="text" class="form-control" id="classeEconomica" name="classeEconomica" placeholder="ex: A, B, AB ...">
      </div>
      
    </div>
    <div class="row justify-content-end">
      <div class="col-2">
        <button class="btn btn-outline-info" type="submit">Filtrar</button>
      </div>
   </div>
  </form>
</div>
<div class="container shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="container d-flex p-2 bd-highlight">
            <div class="col d-flex justify-content-center">
                <h2 class="">Pesquisas</h2>
            </div>
    </div>


    <table class="table mt-5 table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">Objeto da pesquisa</th>
            <th scope="col">Tipo de objeto</th>
            <th scope="col">Data e hora</th>
            <th scope="col">Genero(s)</th>
            <th scope="col">Faixa etaria</th>
            <th scope="col">Classe economica</th>
            <th scope="col">Formulários</th>
          </tr>
        </thead>
        
          {%for pesquisa in pesquisas%}
            <tbody>
              <tr>
                <th scope="row">{{pesquisa.id}}</th>
                
                {% for empresa in empresas %} 
                 {% if empresa.id == pesquisa.idEmpresa %} 
                  <th scope="row">{{empresa.nome}}</th>
                  {% endif %}
                {% endfor %}
                
                <td class="">{{pesquisa.objetoPesquisa}}</td>
                <td>{{pesquisa.tipoObjeto}}</td>
                <td>{{pesquisa.dataHoraPesquisa}}</td>
                <td>{{pesquisa.generos}}</td>
                <td>{{pesquisa.faixaEtaria}}</td>
                <td>{{pesquisa.classeEconomica}}</td>
                <td><form action="/formulario/elegibilidade/edicao" method="POST"><button class="btn btn-outline-warning" name="id" type="submit" value="{{pesquisa.id}}">Editar</button></form></td>
              
            
               </tr>
            </tbody>
            {% endfor %}
      
      </table>
     
      


</div>


{% endblock %}