{% extends 'base.html'%}

{% block content%}

<div class="container shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="container d-flex p-2 bd-highlight">
            <div class="col d-flex justify-content-center">
                <h2 class="">Convidados</h2>
            </div>
    </div>

    <div class="container">
      <div class="row form-">
        <div class="col-12 mb-3">
          <h4>
            Filtros:
          </h4>
        </div>

        <div class="col col-3 ">
          <select class="form-select" name="filtro_participou">
            <option selected>Já Participou</option>
            <option value="sim">Sim</option>
            <option value="não">Não</option>
          </select>
        </div>
        <div class="col-5 form-tex">
          <form action="/listar/convidado" method="POST"><button class="btn btn-outline-info" type="submit">Filtrar</button></form>
        </div>
        </div>
       
    </div>


    <table class="table mt-5 table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Participação Anterior</th>
            <th scope="col">Classificação Socio-econômica</th>
            
          </tr>
        </thead>
        {% for convidado in convidados %}  
            <tbody>
              <tr>
                
                <th scope="row">{{convidado.id}}</th>
                <td class="">{{convidado.nome + " " + convidado.sobrenome}}</td>
                <td>{{convidado.email}}</td>
                <td>{{convidado.ja_participou}}</td>
                <td>{{convidado.classificacao_socio}}</td>
              </tr>
            </tbody>
        {% endfor %}
      </table>
     
      


</div>


{% endblock %}