{% extends 'base.html'%}

{% block content%}

<div class="container shadow p-3 mb-5 bg-body rounded mt-5">
    <div class="container d-flex p-2 bd-highlight">
            <div class="col d-flex justify-content-center">
                <h2 class="">Pesquisas</h2>
            </div>
    </div>


    <table class="table mt-5 table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Empresa</th>
            <th scope="col">Objeto da pesquisa</th>
            <th scope="col">Tipo de objeto</th>
            <th scope="col">Data e hora</th>
            <th scope="col">Genero(s)</th>
            <th scope="col">Faixa etaria</th>
            <th scope="col">Classe economica</th>
          </tr>
        </thead>
        
          {%for pesquisa in pesquisas%}
            <tbody>
              <tr>
                <th scope="row">{{pesquisa.id}}</th>
                
                {% for empresa in empresas %} 
                 {% if empresa.id == pesquisa.idEmpresa %} 
                  <th scope="row">{{empresa.nome}}</th>
                  {% endif %}
                {% endfor %}
                
                <td class="">{{pesquisa.objetoPesquisa}}</td>
                <td>{{pesquisa.tipoObjeto}}</td>
                <td>{{pesquisa.dataHoraPesquisa}}</td>
                <td>{{pesquisa.generos}}</td>
                <td>{{pesquisa.faixaEtaria}}</td>
                <td>{{pesquisa.classeEconomica}}</td>
            
               </tr>
            </tbody>
            {% endfor %}
      
      </table>
     
      


</div>


{% endblock %}